<app-map [latitude]="latitude"
         [longitude]="longitude"
         class="w-100"></app-map>
<div class="d-flex
            flex-column
            align-items-center
            justify-content-between
            w-100">
  <button class="btn btn-primary" data-bs-target="#assetsModal" data-bs-toggle="modal" type="button">
    Add asset
  </button>
  <app-modal-form (updateAssets)="update($event)"></app-modal-form>
  <app-assets-list (coords)="getCoords($event)"
                   (isSelectedAsset)="triggerSelect($event)"
                   [assets]="assets"
                   class="w-100"></app-assets-list>
</div>


