<app-map [latitude]="latitude" [longitude]="longitude" class="w-100"></app-map>
<!--<app-google-map class="w-100"
                [latitude]="latitude"
                [longitude]="longitude"
                [assets]="assets" [isSelected]="isSelected"></app-google-map>-->
<div class="w-100">
  <div class="d-flex flex-column align-items-center justify-content-between">
    <button class="btn btn-primary" data-bs-target="#assetsModal" data-bs-toggle="modal" type="button">
      Add asset
    </button>
    <div aria-hidden="true" aria-labelledby="assetsModalLabel" class="modal fade" id="assetsModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="assetsModalLabel">Modal title</h5>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
          </div>
          <div class="modal-body">
            <form (submit)="addAsset()" [formGroup]="assetsForm" class="coordinates-form">
              <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" formControlName="name" id="name" required type="text">
              </div>
              <div class="mb-3">
                <label class="form-label" for="type">Type</label>
                <select class="form-select" formControlName="type" id="type" required>
                  <option value="truck">Truck</option>
                  <option value="trailer">Trailer</option>
                  <option value="transport">Transport</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label" for="latitude">Latitude</label>
                <input class="form-control" formControlName="latitude" id="latitude" required type="number">
              </div>
              <div class="mb-3">
                <label class="form-label" for="longitude">Longitude</label>
                <input class="form-control" formControlName="longitude" id="longitude" required type="number">
              </div>
              <button [disabled]="!assetsForm.valid" class="btn btn-primary" data-bs-dismiss="modal" type="submit">Save
                changes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <app-assets-list [assets]="assets" (coords)="getCoords($event)" (isSelectedAsset)="triggerSelect($event)" class="w-100"></app-assets-list>
  </div>
</div>

